.datepicker {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: $bg-color-form;
    margin: $step*2 auto;
    border-radius: $border-radius;
    font-size: $font-size-max;
    color: white;
    height: 72px;
    width: 564px;
    align-items: center;
    line-height: normal;
   

    &__slider {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-column-gap: $step * 6;
        list-style: none;
        flex-direction: row;
        margin: $step*2 0px 0px 0px;
        padding: $step $step;
        justify-items: center;
        align-items: center;
    }

    &__current-item {
        padding: $step $step * 3;
        font-size: $font-size-max;
        font-weight: $font-weight-medium;
        cursor: pointer;
    }

    &__control {
        padding: $step;
        color: #808497;
        border-radius: 8px;
        background-color: #3b414a;
        width: 46px;
        height: 46px;
        text-align: center;
        font-weight: 600;
        font-size: 22px;
        cursor: pointer;
    }

    &__datepicker-visible {
        background-color: $bg-color-box;
        border-radius: $border-radius;
        border: $border;
        max-height: 590px;
        width: 564px;
        overflow-y: auto;
        color: white;
        line-height: normal;
        user-select: none;
        cursor: pointer;
        margin: auto;
    }
    &__title {
        color: white;
        font-size: $font-size-max;
        font-weight: $font-weight-medium;
        padding: $step;
        cursor: default;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(7, 48px);
        grid-gap: $step * 3;
        list-style: none;
        justify-content: center;
        margin: 0;
        margin-bottom: 8px;
    }

    &__calendar {
        display: flex;
        justify-content: space-around;
        margin-bottom: 16px;

    }

    &__item {
        display: flex;
        width: auto;
        justify-content: flex-start;
        color: $text-color-dropdown;
        padding: $step $step * 3;
        font-size: $font-size-max;
        font-weight: $font-weight-medium;
    }
    &__item:hover {
        background: #2a2d35;
        color: white;
        border-radius: $border-radius;
        width: 490px;
        padding: $step $step * 3;
    }

    &__btn-action {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    &__day-week {
        padding: $step $step;
        color: $text-title-color;
        text-align: center;
        font-weight: $font-weight-medium;
        font-size: $font-size-max;
        cursor: default;
        &_holiday{
            color: #eb3f3fd3;
        }
    }

    &__days {
        display: grid;
        grid-template-columns: repeat(7, 48px);
        grid-template-rows: repeat(4, 48px);
        grid-column-gap: $step * 3;
        grid-row-gap: $step * 3;
        list-style: none;
        flex-direction: row;
        align-items: flex-start;
        margin: 0;
        padding: $step $step;
        justify-items: center;
        align-items: center;
    }

    &__day {
        width: 46px;
        height: 46px;
        cursor: pointer;

        &_active-month {
            padding: $step $step;
            color: $text-title-color;
            border-radius: 8px;
            background-color: #3b414a;
            border:2px solid #3b414a;
            width: 46px;
            height: 46px;
            text-align: center;
            columns: $color-text-days;
            font-weight: $font-weight-medium;
            font-size: $font-size-calendar;
            &:hover {
                color: white;
                background-color: $bg-color-box;
                border: $border;
                border-color: #1d5eff;
                background-color: #2c437b;
            }
        }

        &_inactive-month {
            padding: $step $step;
            color: $text-title-color;
            border-radius: 8px;
            border: 2px solid $bg-color-box;;
            width: 46px;
            height: 46px;
            text-align: center;
            columns: $color-text-days;
            font-weight: $font-weight-medium;
            font-size: $font-size-calendar;
            &:hover {
                color: white;
                background-color: $bg-color-box;
                border: $border;
                border-color: #1d5eff;
                background-color: #2c437b;
            }
        }

        &_current-day {
            background: #1d5eff;
            color: white;
        }

        &_selected-day {
            border-color: #1d5eff;
            color: white;
        }
    }
}
