.datepicker {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $bg-color-form;
    margin: $step;
    border-radius: $border-radius;
    font-size: $font-size-max;
    color: white;
    height: 72px;
    align-items: center;
    line-height: normal;

    &__slider {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: $step 0px;
    }

    &__current-item {
        padding: $step $step * 3;
        font-size: $font-size-max;
        font-weight: $font-weight-medium;
    }

    &__control {
        margin: $step $step * 3;
    }

    &__datepicker-visible {
        background-color: $bg-color-box;
        border-radius: $border-radius;
        border: $border;
        margin: $step;
        max-height: 498px;
        overflow-y: auto;
        color: white;
        line-height: normal;
    }
    &__title {
        color: white;
        font-size: $font-size-max;
        font-weight: $font-weight-medium;
    }

    &__list {
        display: flex;
        list-style: none;
        flex-direction: row;
        margin: 0;
        justify-content: space-evenly;
    }

    &__calendar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: $step * 2;
    }

    &__item {
        display: flex;
        width: auto;
        justify-content: flex-start;
        color: $text-color-dropdown;
        padding: $step $step * 3;
        font-size: $font-size-max;
        font-weight: $font-weight-medium;
    }
    &__item:hover {
        background: #2a2d35;
        color: white;
        border-radius: $border-radius;
        width: 490px;
        padding: $step $step * 3;
    }

    &__btn-action {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    &__day-week {
        padding: $step $step;
        color: $text-title-color;
        text-align: center;
    }

    &__days {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(4, 48px);
        grid-gap: $step;
        list-style: none;
        flex-direction: row;
        align-items: flex-start;
        margin: 0;
        justify-content: space-evenly;
        padding: $step $step * 2;
        justify-items: center;
        align-items: center;
    }

    &__day {
        width: 42px;
        height: 42px;
        
        &_active-month{
            padding: $step $step;
            color: $text-title-color;
            border-radius: 8px;
            background-color: #3b414a;
            width: 42px;
            height: 42px;
            text-align: center;
            columns: $color-text-days;
            font-weight: $font-weight-medium;
            font-size: $font-size-default;
            &:hover {
                color: white;
                background-color: $bg-color-box;
                border: $border;
                border-color: #1d5eff;
                background-color: #2c437b;
            }
        }

        &_inactive-month {
            padding: $step $step;
            color: $text-title-color;
            border-radius: 8px;
            width: 42px;
            height: 42px;
            text-align: center;
            columns: $color-text-days;
            font-weight: $font-weight-medium;
            font-size: $font-size-default;
            &:hover {
                color: white;
                background-color: $bg-color-box;
                border: $border;
                border-color: #1d5eff;
                background-color: #2c437b;
            }
            
        }

        &_current-day {
            background: #1d5eff;
            color: white;
        }

        &_selected-day {
            border-color: #1d5eff;
            color: white;
        }
        

    }
}
