@import "./variables";


#root {
    display: grid;
    background-color: #f2f2f2;
    grid-template-columns: 2fr 2fr 1fr;
    height: auto;
    min-height: 100vh;
}

.section{
    background-color: $bg-color;
    padding: $step*3;
}

.title {
    padding: $step $step;
    font-size: $font-size-max;
    margin: 0 0 18px 0;
    color: $text-color;
}


.header{
    margin-bottom: 72px;
}


.footer{
    flex-shrink: 0;
    min-height: 40vh;
    max-height: 50vh;
}