$bg-color: #23242a;
$bg-color-form:#2a2f3b;
$bg-color-box:#323741;
$text-title-color: #808497;
$text-color: #747b86; 
$text-color-dropdown: #b2b8ca;
$step: 8px;
$grid-column: 12;
$border-color: #484d57;
$color-active-item: #2a2d35;
$color-active-text-dropdown: #b2b8ca;
$font-size-default: 18px;
$font-size-medium: 16px;
$font-size-max: 24px;
$color-btn: #484f5c;
$border-radius: 18px;
$border: 2px solid $border-color;
$font-weight-medium: 600;

$color-active-btn: #6c757d;
$color-active-link: #aaa8a8; 

$color-text-days: #b2b8c8;